html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

.reminder {

}

.reminder-card.mdl-card {
    padding-top: 20px;
    margin: auto;
    width: inherit;
    margin: 30px 3% 3% 3%;
    background: #6bc5fa;
    color: white;
}
.reminder-card > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
}

.reminder-card > .mdl-card__label {
    justify-content: center;
    margin: 20px auto;
    font-size: 2.6rem;
    font-weight: 200;
    text-transform: uppercase;
}

.mdl-card__user {
    position: relative;
    z-index: 30;
    top: 43px;
    width: 100%;
    display: flex;
    text-transform: uppercase;
}


.mdl-card__user .mdl-chip__action {
    display: none;
}

.mdl-chip.mdl-chip--contact.user{
    margin: auto;
    background-color: rgb(216, 225, 230);
}

.reminder-card > .mdl-card__frequency {
    justify-content: center;
    margin: 5px auto 20px;
    background-color: rgb(216, 225, 230);
    text-transform: uppercase;
}

.reminder-card .mdl-card__date {
    justify-content: center;
    margin: 12px auto;
    text-transform: uppercase;
}

.reminder-card .mdl-card__date .part-date {
    color: #305a73;
    font-size: 1.5rem;
    margin: 0 7px;
}

.reminder-card > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.reminder-card > .mdl-card__actions > .material-icons {
    padding-right: 10px;
}
.reminder-card > .mdl-card__title,
.reminder-card > .mdl-card__actions,
.reminder-card > .mdl-card__actions > .mdl-button {
    color: #fff;
}


.icon-space {
    margin-left: 6px;
}