html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #ffe5c3;
    font-size: 1rem;
    font-family: 'Russo One', sans-serif;
    font-family: 'Voltaire', sans-serif;
    font-family: 'Khand', sans-serif;

}
#clock {
    width: 100%;
    text-align: center;

}
#date-and-weather {
    width: 100%;
    text-align: center;
    font-size: 7rem;
    /*color: aliceblue;*/
}

.time {
    font-size: 13rem;
    margin-top: -3.5rem;
    margin-bottom: -4.9rem;
}
.date {
    text-transform: uppercase;
}

#reminders {
    position: absolute;
    top: 3rem;
    left: 2%;
    padding: 0;
    display:table;
    width:96%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}


.reminder {
    display:table-cell;
    padding: 0rem 0px;
    background-color: #ff6c4e;
    border-radius: 4rem;
    font-size: 8rem;
    text-align: center;
    color: black;
}


@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@-webkit-keyframes blinker {
    0%   { opacity: 0; }
    10%  { opacity: 1; }
    70%  { opacity: 1; }
    80%  { opacity: 0; }
    100% { opacity: 0; }
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }
.weather-icon i {
    color: #ff6c4e;
    font-family: weather;
    font-size: 1.9em;
    font-weight: normal;
    font-style: normal;
    line-height: 1.0;
    text-transform: none;
}
.weather-temp {
    /*font-size: 30px;*/
}